# Node dependencies
node_modules/

# Build output
dist/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Jest coverage
coverage/

# IDE files
.vscode/
.idea/

# Environment files
.env

# TypeDoc output
docs/api/


docs/.vitepress/cache/

desktop/frontend/wailsjs/

build/
package.json.md5
llm_context.txt
cache
docs/.vitepress/config.ts.timestamp-1749746188837-d5fd8665bcdf7.mjs
